<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="BrawlSoundConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
    <userSettings>
        <BrawlSoundConverter.Properties.Settings>
            <setting name="DefaultBrsarFilePath" serializeAs="String">
                <value>./smashbros_sound.brsar</value>
            </setting>
            <setting name="DefaultSAWNDExportNameScheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DefaultMultiWAVExportCreateGroupDirectory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableFullLengthNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConvertToMono" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TabSettings" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>TABS</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="MatchSampleRate" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaximumSampleRate" serializeAs="String">
                <value>44100</value>
            </setting>
            <setting name="GroupSizeWarningThreshold" serializeAs="String">
                <value>950000</value>
            </setting>
            <setting name="DefaultCollectionExportNameScheme" serializeAs="String">
                <value>0</value>
            </setting>
        </BrawlSoundConverter.Properties.Settings>
    </userSettings>
</configuration>
